.mat-mdc-form-field{
    width:100%;
}
<<<<<<< HEAD
=======

>>>>>>> cefd0a347ccab28f22d23307c555954e547a2df8
.container {
    white-space: nowrap;
    overflow: auto;
    text-overflow: ellipsis;
<<<<<<< HEAD

=======
>>>>>>> cefd0a347ccab28f22d23307c555954e547a2df8
}
